main{
  max-width:90ch;
  width:60vw;
min-width:40ch;
margin:auto;  
}
section{
display: flex;
margin:auto;
flex-wrap: wrap;
justify-content: center;

}
h3,p{
padding: 1em 5vw;
}

article{
background-color: purple;
height:12em;
width:12em;
margin:.5em;
}